@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    word-spacing: 2px;
    font-size: 15px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

header {
  display: flex;
  padding: 20px 9px;
  padding-left: 25px;

  h1 {
    display: flex;
    font-weight: 500;
    cursor: pointer;
    div {
      padding: 0 5px;
      color: rgb(167, 167, 167);
    }
  }
  ul {
    display: flex;
    margin-left: 158px;
    color: $gray;
    font-weight: 300;
    li {
      cursor: pointer;
      padding-right: 16px;
    }
  }
}

h1 div:hover {
  color: black;
}

li:hover {
  opacity: 0.8;
}

main {
  margin: 0 7px 0 365px;

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-bottom: 54px;
  }

  .photo__discription {
    &:first-child {
      .discription__title {
        padding-top: 19px;
      }
    }
    .discription__title {
      padding-bottom: 19px;
    }
    .discription__text {
      p {
        padding-right: 15px;
        padding-bottom: 19px;
        line-height: 20px;
        color: $gray;
        font-weight: 300;
      }
    }
  }

  .photo {
    img {
      width: 98%;
    }
    .photo__title {
      padding: 9px 0 18px 0;
      color: $gray;
      font-weight: 300;
      line-height: 20px;
    }
  }

  .photo__title:hover {
    cursor: pointer;
  }
}